# Example environment variables for grid-pulse-spain

# BigQuery
BQ_PROJECT=
BQ_DATASET=
BQ_LOCATION=

# Airflow
AIRFLOW_HOME=
AIRFLOW__CORE__SQL_ALCHEMY_CONN=

# External APIs
REDATA_API_KEY=
WEATHER_API_KEY=

# Streamlit
STREAMLIT_SERVER_PORT=8501
